/* 
`background-color` - Takes in a colour or a hex code!
`color` - Takes in a colour or hex code
`text-align` - Center | Right | Left | Justified
`font-size` - Just like a Google / Word doc
`font-family` - Font name / type

 --- Some important reminders --- 
 * Think of this as a JSON file
 * Semi-colons are REQUIRED
*/

body {
	background-color: black;
}

h2 {
	color: cyan;
	text-align: center;
	font-size: 32px;
	font-family: cursive;
}
p {
	color: darkred;
	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
}
ol {
	color: gold;
	font-family: fantasy;
}
ul {
	color: limegreen;
	font-family: "Courier New", Courier, monospace;
}
